.page1 {
	/*background-image: linear-gradient(#fffdd0, black);*/
	background-image: url(../Images/white9.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
}	
.slideshow {
	position: relative;
}
.slides {
	display: none;
	text-align: center;
}
.text1 {
	color: white;
	opacity: 0.9;
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}
.text2 {
	color: white;
	text-shadow: 5px 5px #b85aee;
	font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
}
.text3 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	opacity: 0.9;
	vertical-align: middle;
	/*display: inline-block;*/
}
.text4 {
	color: white;
	opacity: 0.8;
	font-size: 25px;
	font-weight: bold;
	position: absolute;
	top: 8px;
	left: 30px;
    width: 100%;
    text-align: center;
}
.text5 {
	color: white;
	font-size: 25px;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    left: 30px;
    top: 8px;
    width: 100%;
    text-align: center;
}
.text6 {
	color: white;
	font-size: 25px;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    left: 30px;
    top: 8px;
    width: 100%;
    text-align: center;
}
.logo {
	height: 50px;
	/*margin-top: 10px;*/
	vertical-align: middle;
	float: left;
}
.logo2 {
	height: 50px;
	/*margin-top: 10px;*/
	vertical-align: middle;
	float: right;
}
.clear {
	clear: both;
}
.slogans-wraper {
	border: 10px solid white;
    background-color: #007251;
    opacity: 0.7;
    width: 100%;
}
.H {
	background-image: linear-gradient(white, #b85aee, white);
	width: 100%;
}
.text7 {
	background-image: linear-gradient(white, #b85aee, white);
}
.audio1 {
	width: 200px;
	display: inline-block;
	margin-top:10px;
}
.text7 {
     font-size: 20px;
     color: #007251;
     font-weight: bold;
     opacity: 0.8;
}
.contactinfo {
	text-align: center;
	margin-bottom: 10px;
}
.address {
    text-align: center;
    margin-bottom: 10px;
}
.Tel {
    text-align: center;
    margin-bottom: 10px;
}
.email {
    text-align: center;
}
.aboutus {
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 20px;
	color: #b85aee;
	font-weight: bold;
	opacity: 0.8;
	width: 700px;
}
.F {
	margin-top: 15%;
	background-image: linear-gradient(white, #b85aee, white);
	color: #007251;
	font-size: 20px;
}
.img {
	vertical-align: middle;
}
.mySlides {
	display: none;
}
.slideshow-container {
	position: relative;
	display: flex;
    justify-content: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  /*animation-name: fade;
  animation-duration: 1.5s;*/
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.w3-bar-item {
	float: left;
	margin-left: 120px;
	margin-right: 50px;
	font-size: 20px;
	color: white;
	opacity: 0.8;
}